<div class="modal-header bg-primary">
    <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
    <h5 class="modal-title">Add New Category</h5>
</div>

<div class="modal-body">
    <form>
        <div class="form-group">
            <label class="control-label">Name</label>
            <div>
                <input [(ngModel)="categoryName" type="text" class="form-control">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" >Save changes</button>
</div>