<div class="row">
    <div class="col-lg-4">
        <div class="panel bg-teal-400">
            <div class="panel-body">
                <h3 class="no-margin">{{userCount}}</h3>
                Total no of users
            </div>
        </div>

    </div>

    <div class="col-lg-4">

        <div class="panel bg-pink-400">
            <div class="panel-body">
                <h3 class="no-margin">{{courseCount}}</h3>
                Total no of courses
            </div>

        </div>

    </div>

    <div class="col-lg-4">
        <div class="panel bg-blue-400">
            <div class="panel-body">
                <h3 class="no-margin">{{assessmentCount}}</h3>
                Total no of assessments
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <div style="display: block;">
                    <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <div style="display: block;">
                    <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>

    </div>



</div>